nr-page {
  margin: 50px 100px;
}

nr-page-content {
  nr-section-md {
    margin-top: 25px;
  }
}

p {
  font-size: 1rem;
  padding: 0 0 0 15px;
  font-weight: bold;
  color: #B0BEC5;
}

button {
  height: 45px;
  width: 200px;
  margin-top: 30px;
}

nr-input-text {
  margin-right: 35px;
}
