a {
  display: block;
  line-height: 35px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: var(--backlink-text);
  width: 72px;
  padding-left: 5px;
  border: none;
  fill: var(--backlink-bg);
  text-decoration: none;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><path fill-opacity='0.05' d='M14.102 1.04762C14.672 0.382687 15.504 0 16.3798 0H69C70.6569 0 72 1.34315 72 3V32C72 33.6569 70.6569 35 69 35H16.3798C15.504 35 14.672 34.6173 14.102 33.9524L1.67346 19.4524C0.710488 18.3289 0.71049 16.6711 1.67346 15.5476L14.102 1.04762Z'/></svg>") no-repeat;
}

a:hover {
  fill: var(--backlink-bg);
}
