:host {
  display: block;
  margin-bottom: 1.5em;
  position: relative;
  max-width: 550px;
  min-height: 285px;
}

textarea {
  display: block;
  width: 100%;
  font-size: .875em;
  color: #37474F;
  background-color: var(--input-bg);
  border: none;
  box-sizing: border-box;
  outline: none;
  max-width: 550px;
  min-height: 285px;
}

:host[appearance=outline] {
  textarea {
    padding: 13px;
    border: 1px solid #D5DDE2;
    border-radius: 5px;
  }

  textarea:hover {
    border: 1px solid #C0C7CC;
  }

  textarea:focus {
    border: 1px solid #068AB4;
  }

  textarea.ng-touched.ng-invalid {
    border: 1px solid #C95738;
  }
}

:host[appearance=standard] {
  textarea {
    padding: 10px 5px;
    border-bottom: 1px solid #D5DDE2;
  }

  textarea:hover {
    border-bottom: 1px solid #C0C7CC;
  }

  &[empty=false] textarea {
    border-bottom: 1px solid #058AB4;
  }

  textarea:focus {
    border-bottom: 1px solid #058AB4;
  }

  textarea.ng-touched.ng-invalid {
    border-bottom: 1px solid #C95738;
  }
}
