nr-page {
  width: 630px;
  margin: 50px auto;
}

nr-page-content {
  nr-section-md {
    margin-top: 25px;
  }
}

p {
  font-size: 1rem;
  padding: 0 0 0 15px;
  font-weight: bold;
  color: #B0BEC5;
}



.buttons-wrap {
  display: flex;
  justify-content: flex-end;
}

.buttons-wrap button {
  margin-left: 15px;
}

div {
  display: block;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #455A64;
}

.back {
  width: 100%;
  height: 40px;
}

.message {
  font-size: 0.8rem;
}
