<nr-section-md>
  <span>GitHub</span>
  <div class="button">
    <div>
      <button nrBtn="basic"><b>GitHub</b></button>
      <p>On this account I post source code for my libraries or projects. You can download them, change and make pull request.</p>
    </div>
  </div>

  <span>npmJS</span>
  <div class="button">
    <div>
      <button nrBtn="primary"><b>npmJS</b></button>
      <p>On this account I post some useful packages and libraries. You can download them or import on your projects.</p>
    </div>
  </div>


  <span>Medium</span>
  <div class="button">
    <div>
      <button nrBtn="basic"><b>Medium</b></button>
      <p>On this account I post some useful algorithms and notes about programming.</p>
    </div>
  </div>
</nr-section-md>
