<nr-page title="Write me">
  <nr-page-content>
    <nr-section-md>
      <form [formGroup]="form" *ngIf="!success">
        <nr-input-text name="name">
          <nr-fc-label>Name:</nr-fc-label>
          <nr-fc-desc>Please, input your real name.</nr-fc-desc>
        </nr-input-text>
        <nr-input-email name="email">
          <nr-fc-label>Email:</nr-fc-label>
          <nr-fc-desc>Please, input your real email address. We will sent you message with code for activation.</nr-fc-desc>
        </nr-input-email>
        <nr-textarea name="text">
          <nr-fc-label>Message:</nr-fc-label>
          <nr-fc-desc>Please, input your message.</nr-fc-desc>
        </nr-textarea>
        <div class="buttons-wrap">
          <button type="button" routerLink="/" nrBtn="primary">
            Cancel
          </button>
          <button type="post" (click)="save()" nrBtn="basic">
            Save
          </button>
        </div>
      </form>
      <div *ngIf="success">
        <span class="title">Thank for message!</span>
        <p class="message">We answer your as soon as possible. It is usually 1-2 days.</p>
        <p class="message">When we answer your, you will recive a notification by email.</p>

        <button type="button"  class="back" routerLink="/feedback" nrBtn="primary">Go back</button>
      </div>
    </nr-section-md>
  </nr-page-content>
</nr-page>
