<nr-section-md>
  <div>
    <span>Hello,</span>
    <p>
      My name is Nikita Runeev. I am 19 years old. I am interested in gaining European experience in the field of information
      technology.
      I study at St. Petersburg State University of Industrial Technology and Design.
      I will graduate with a Bachelor's degree in Applied Informatics in 2022.
      I have more than 3 years of experience in the IT, 2 years of which I spent on
      working in the Front-End Developer speciality. I worked on projects of various difficulty levels, which allows me to
      learn many technologies: PHP (Laravel), JavaScript (Angular, React, Vue, jQuery, TypeScript), CMS (WordPress, Drupal).
    </p>
  </div>
  <div>
    <span>Foreign Language:</span>
    <p>
      In addition to the Russian language, which is my native language, I am fluent in English (C1).
    </p>
  </div>
  <div>
    <span>Skill:</span>
    <p>
      My working experience will allow me to join quickly and confidently any development
      process as soon as possible. The ability of working in a team, motivation, diligence and readiness to work
      hard on a project are always with me.
    </p>
  </div>
  <div>
    <span>For communication:</span>
    <p>
      <span>Telegram: </span> <a href="https://t.me/nruneev">@nruneev</a>;
    </p>
    <p>
      <span>GitHub: </span> <a href="https://github.com/nruneev">Nikita Runeev</a>;
    </p>
    <p>
      <span>Mail: </span> <a>nruneev@mail.ru</a>;
    </p>
    <p>
      <span>Phone Number: </span> <a>+7(999)528-02-09</a>.
    </p>
  </div>
</nr-section-md>
