<nr-section-md>
  <div>
    <span>Hello,</span>
    <p>
      My name is Nikita Runeev. I am 19 year old. I am interested in gaining European experience in the field of information
      technology.
      I study at St. Petersburg State University of Industrial Technology and Design. In
      2022, I will be awarded a Bachelor's degree in Applied Informatics.
      I have more than 3 years of experience in the IT, of which 2 years of
      work in the Front-End Developer speciality. I worked on projects of various difficulty levels, which allow me to
      learn many technologies: PHP (Laravel), JavaScript (Angular, React, Vue, jQuery, TypeScript), CMS (WordPress, Drupal).
    </p>
  </div>
  <div>
    <span>Foreign Language:</span>
    <p>
      In addition to the Russian language, which is my native language, I am fluent in English (C1).
    </p>
  </div>
  <div>
    <span>Skill:</span>
    <p>
      My work experience will allow me to quickly and confidently join any development
      process as soon as possible. The ability to work in a team, motivation, diligence and
      hard work at work are always with me.
    </p>
  </div>
  <div>
    <span>For communication:</span>
    <p>
      <span>Telegram: </span> <a href="https://t.me/nruneev">@nruneev</a>;
    </p>
    <p>
      <span>GitHub: </span> <a href="https://github.com/nruneev">Nikita Runeev</a>;
    </p>
    <p>
      <span>Mail: </span> <a>nruneev@mail.ru</a>;
    </p>
    <p>
      <span>Phone Number: </span> <a>+7(999)528-02-09</a>.
    </p>
  </div>
</nr-section-md>
